{% extends "blog/index.html" %}
{% block content %}
	<div class="border border-dark p-3 m-3 col-5">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="fieldWrapper form-group">

                    <small class="text-warning">{{ field.errors }}</small>
                    <span>{{ field.label_tag }}</span>
                    <span class="form-control">{{ field }}</span>
                    
                    {% if field.help_text %}
                    <p class="help form-text">{{ field.help_text|safe }}</p>
                    {% endif %}
                    
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock content %}